.note {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
  cursor: pointer;
  height: 70px;
}

.bg {
  background-color: #673AB7;
  transition: .3s;
  color: white;
}

.date-time {
  margin-bottom: 0;
  margin-top: 15px;
  color: darkgrey;
  font-size: 11px;
}

.text-three-dots {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
