.login-box-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #673AB7;
}

.login-box {
  width: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
}

.field {
  width: 100%;
}

.button {
  margin-bottom: 5px;
}
