.as-split-area:nth-child(1) {
  background-color: #F7F7F7;
}
.as-split-area:nth-child(2) {
  background-color: #fcfcfc;
  max-height: 100vh;
}
.plus-icon {
  margin-right: auto;
}
.play-icon {
  margin-right: 10px;
}
.timer {
  margin-right: 10px;
  font-weight: bold;
}
