/* You can add global styles to this file, and also import other style files */
//@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700;900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400&display=swap');


* {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
}

// Quill toolbar
.ql-toolbar.ql-snow {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}
